body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 5%;
}



.grid-cell {
    width: 6.25%;
    height: 6.25%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}