body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 2%;
}



.grid-cell {
    width: 6.25%;
    height: 6.25%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}


.headingDiv {
    text-align: center;
}

.buttonsDiv {
    text-align: center;
}

.buttonsDiv button {
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(144, 161, 175);
    color: white;
}